<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnpc.dj.party.repository.ConnectionTransferMapper">
  <resultMap id="BaseResultMap" type="com.cnpc.dj.party.entity.ConnectionTransfer">
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="DUES_DATA" jdbcType="VARCHAR" property="duesData" />
    <result column="TRANSFER_TYPE" jdbcType="VARCHAR" property="transferType" />
    <result column="ORIGIN_BRANCH_ID" jdbcType="NUMERIC" property="originBranchId" />
    <result column="TRANSFER_ORGANIZATION" jdbcType="VARCHAR" property="transferOrganization" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="SUBMIT_STATE" jdbcType="VARCHAR" property="submitState" />
    <result column="PROCESS_STATE" jdbcType="VARCHAR" property="processState" />
    <result column="APPLY_DATE" jdbcType="VARCHAR" property="applyDate" />
    <result column="APPLICANT_ID" jdbcType="NUMERIC" property="applicantId" />
    <result column="APPLICANT_NAME" jdbcType="VARCHAR" property="applicantName" />
    <result column="TRANSFER_ORGANIZATION_ID" jdbcType="NUMERIC" property="transferOrganizationId" />
    <result column="ORIGIN_BRANCH" jdbcType="VARCHAR" property="originBranch" />
    <result column="APPROVE_ID" jdbcType="NUMERIC" property="approveId" />
    <result column="IS_DELETE" jdbcType="VARCHAR" property="isDelete" />
    <result column="APPROVE_ORG_ID" jdbcType="NUMERIC" property="approveOrgId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TELEPHONE, DUES_DATA, TRANSFER_TYPE, ORIGIN_BRANCH_ID, TRANSFER_ORGANIZATION, 
    REMARK, SUBMIT_STATE, PROCESS_STATE, APPLY_DATE, APPLICANT_ID, APPLICANT_NAME, TRANSFER_ORGANIZATION_ID, 
    ORIGIN_BRANCH, APPROVE_ID, IS_DELETE, APPROVE_ORG_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DJ_CONNECTION_TRANSFER
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from DJ_CONNECTION_TRANSFER
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.cnpc.dj.party.entity.ConnectionTransfer">
    insert into DJ_CONNECTION_TRANSFER (ID, TELEPHONE, DUES_DATA, 
      TRANSFER_TYPE, ORIGIN_BRANCH_ID, TRANSFER_ORGANIZATION, 
      REMARK, SUBMIT_STATE, PROCESS_STATE, 
      APPLY_DATE, APPLICANT_ID, APPLICANT_NAME, 
      TRANSFER_ORGANIZATION_ID, ORIGIN_BRANCH, APPROVE_ID, 
      IS_DELETE, APPROVE_ORG_ID)
    values (#{id,jdbcType=NUMERIC}, #{telephone,jdbcType=VARCHAR}, #{duesData,jdbcType=VARCHAR}, 
      #{transferType,jdbcType=VARCHAR}, #{originBranchId,jdbcType=NUMERIC}, #{transferOrganization,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{submitState,jdbcType=VARCHAR}, #{processState,jdbcType=VARCHAR}, 
      #{applyDate,jdbcType=VARCHAR}, #{applicantId,jdbcType=NUMERIC}, #{applicantName,jdbcType=VARCHAR}, 
      #{transferOrganizationId,jdbcType=NUMERIC}, #{originBranch,jdbcType=VARCHAR}, #{approveId,jdbcType=NUMERIC}, 
      #{isDelete,jdbcType=VARCHAR}, #{approveOrgId,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.cnpc.dj.party.entity.ConnectionTransfer">
    insert into DJ_CONNECTION_TRANSFER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="duesData != null">
        DUES_DATA,
      </if>
      <if test="transferType != null">
        TRANSFER_TYPE,
      </if>
      <if test="originBranchId != null">
        ORIGIN_BRANCH_ID,
      </if>
      <if test="transferOrganization != null">
        TRANSFER_ORGANIZATION,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="submitState != null">
        SUBMIT_STATE,
      </if>
      <if test="processState != null">
        PROCESS_STATE,
      </if>
      <if test="applyDate != null">
        APPLY_DATE,
      </if>
      <if test="applicantId != null">
        APPLICANT_ID,
      </if>
      <if test="applicantName != null">
        APPLICANT_NAME,
      </if>
      <if test="transferOrganizationId != null">
        TRANSFER_ORGANIZATION_ID,
      </if>
      <if test="originBranch != null">
        ORIGIN_BRANCH,
      </if>
      <if test="approveId != null">
        APPROVE_ID,
      </if>
      <if test="isDelete != null">
        IS_DELETE,
      </if>
      <if test="approveOrgId != null">
        APPROVE_ORG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="duesData != null">
        #{duesData,jdbcType=VARCHAR},
      </if>
      <if test="transferType != null">
        #{transferType,jdbcType=VARCHAR},
      </if>
      <if test="originBranchId != null">
        #{originBranchId,jdbcType=NUMERIC},
      </if>
      <if test="transferOrganization != null">
        #{transferOrganization,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="submitState != null">
        #{submitState,jdbcType=VARCHAR},
      </if>
      <if test="processState != null">
        #{processState,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="applicantId != null">
        #{applicantId,jdbcType=NUMERIC},
      </if>
      <if test="applicantName != null">
        #{applicantName,jdbcType=VARCHAR},
      </if>
      <if test="transferOrganizationId != null">
        #{transferOrganizationId,jdbcType=NUMERIC},
      </if>
      <if test="originBranch != null">
        #{originBranch,jdbcType=VARCHAR},
      </if>
      <if test="approveId != null">
        #{approveId,jdbcType=NUMERIC},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="approveOrgId != null">
        #{approveOrgId,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cnpc.dj.party.entity.ConnectionTransfer">
    update DJ_CONNECTION_TRANSFER
    <set>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="duesData != null">
        DUES_DATA = #{duesData,jdbcType=VARCHAR},
      </if>
      <if test="transferType != null">
        TRANSFER_TYPE = #{transferType,jdbcType=VARCHAR},
      </if>
      <if test="originBranchId != null">
        ORIGIN_BRANCH_ID = #{originBranchId,jdbcType=NUMERIC},
      </if>
      <if test="transferOrganization != null">
        TRANSFER_ORGANIZATION = #{transferOrganization,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="submitState != null">
        SUBMIT_STATE = #{submitState,jdbcType=VARCHAR},
      </if>
      <if test="processState != null">
        PROCESS_STATE = #{processState,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="applicantId != null">
        APPLICANT_ID = #{applicantId,jdbcType=NUMERIC},
      </if>
      <if test="applicantName != null">
        APPLICANT_NAME = #{applicantName,jdbcType=VARCHAR},
      </if>
      <if test="transferOrganizationId != null">
        TRANSFER_ORGANIZATION_ID = #{transferOrganizationId,jdbcType=NUMERIC},
      </if>
      <if test="originBranch != null">
        ORIGIN_BRANCH = #{originBranch,jdbcType=VARCHAR},
      </if>
      <if test="approveId != null">
        APPROVE_ID = #{approveId,jdbcType=NUMERIC},
      </if>
      <if test="isDelete != null">
        IS_DELETE = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="approveOrgId != null">
        APPROVE_ORG_ID = #{approveOrgId,jdbcType=NUMERIC},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cnpc.dj.party.entity.ConnectionTransfer">
    update DJ_CONNECTION_TRANSFER
    set TELEPHONE = #{telephone,jdbcType=VARCHAR},
      DUES_DATA = #{duesData,jdbcType=VARCHAR},
      TRANSFER_TYPE = #{transferType,jdbcType=VARCHAR},
      ORIGIN_BRANCH_ID = #{originBranchId,jdbcType=NUMERIC},
      TRANSFER_ORGANIZATION = #{transferOrganization,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      SUBMIT_STATE = #{submitState,jdbcType=VARCHAR},
      PROCESS_STATE = #{processState,jdbcType=VARCHAR},
      APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      APPLICANT_ID = #{applicantId,jdbcType=NUMERIC},
      APPLICANT_NAME = #{applicantName,jdbcType=VARCHAR},
      TRANSFER_ORGANIZATION_ID = #{transferOrganizationId,jdbcType=NUMERIC},
      ORIGIN_BRANCH = #{originBranch,jdbcType=VARCHAR},
      APPROVE_ID = #{approveId,jdbcType=NUMERIC},
      IS_DELETE = #{isDelete,jdbcType=VARCHAR},
      APPROVE_ORG_ID = #{approveOrgId,jdbcType=NUMERIC}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>