<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8" />
    <title>Hello world</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 双向绑定  mvvm-->
        <input type="text" v-model="inputValue" />
        <button v-on:click="handleBtnClick">提交</button>
        <ul>
            <to-do-item 
                v-bind:content="item" 
                v-bind:index=index
                v-for="(item, index) in list"
                @delete="handleItemDelete">
            </to-do-item>
        </ul>
    </div>

    <script>
        //v-bind可以简写成:
        //v-on可以简写成@

        //创建全局组件的一个方法
        Vue.component("ToDoItem",{
            props:['content',"index"],  //v-bind 绑定循环的item值，把值传进来的一种方式，外面传过来的数据接收
            template:"<li  @click='handleItemClick'>{{content}}</li>",
            methods: {
                handleItemClick: function () {
                    //this.$emit("delete"); //子组件向父组件传值，触发一个事件  父组件用v-on做监听@，用一个监听方法
                    this.$emit("delete",this.index); //同时带一个参数,传给父组件
                }
            }
        });

       
        var app = new Vue({
            el: '#app',
            data: {
                list: [],
                inputValue: ''
            },
            methods: {
                handleBtnClick: function () {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                },
                handleItemDelete: function(index){
                    this.list.splice(index,1); //删除
                }
            }
        })
    </script>


</body>

</html>