<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8" />
    <title>Hello world</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- 每个循环项带个唯一key值，不要用index,每次都重新渲染，可以提高性能 -->
        <div v-for="(item,index) of list" :key="item.id">
            {{item.text}}---{{index}}
        </div>
        <!-- template渲染到页面上标签就没有了 -->
        <template v-for="(item,key,index) of userInfo">
            <div>{{item}}---{{key}}--{{index}}</div>
        </template>
    </div>


    <script>
        //数组变异方法：push pop shift unshift splice sort reverse, 不能用下标改变数组，双向绑定会失效
        //也可以通过重新赋值引用来触发改变
        //json对象加属性也是一样，直接加属性不会改变，需要重新赋值引用
        //Vue中方法全局：Vue.set(vm.userInfo,"address","beijing")
        //Vue实例中方法：vm.$set(vm.userInfo,"address","beijing")
        //同样也可以改变数组Vue.set(vm.list,1,{id:"aaa",text:"haha"})

        var vm = new Vue({
            el: "#root",
            data: {
                list: [{
                    id: "ffasf-fsdnsaf7er5",
                    text: "hello"
                }, {
                    id: "778esf-f7er5",
                    text: "world"
                }],
                userInfo:{
                    name:"xu",
                    age:"25",
                    gender:"man"
                }
            }
        })

    </script>
</body>

</html>