<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset="utf-8" />
  <title>Hello world</title>
  <script src="vue.js"></script>
</head>

<body>
  <div id="root">
    <div>
      <label>
        id:<input type="text" v-model="id" />
      </label>
      <label>
        name:<input type="text" v-model="name" />
      </label>
      <!-- 在vue中，使用事件绑定机制，为元素指定处理函数的时候，加()就能传参了 -->
      <!-- .enter 按键修饰符 .enter,.tab,.esc,.space,.up,.down,.left,.right
        也可以.键盘码
      -->
      <!-- 可以通过全局config.keyCodes对象自定义键值修饰符别名
        Vue.config.keyCodes.f1=112
      -->
      <input type="button" value="添加" @click="add" @keyup.enter="add" />
      <label>
        搜索名称关键字:<input type="text" v-model="keywords" v-focus v-color="'blue'" />
      </label>
    </div>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>time</th>
          <th>operation</th>
        </tr>
      </thead>
      <tbody>
        <!-- v-for 从方法中获取数据 -->
        <tr v-for="item in search(keywords)" :key="item.id">
          <td>{{item.id}}</td>
          <td v-fontweight="933">{{item.name | myFilter(":::")}}</td>
          <td v-fontsize="'30px'">{{item.ctime | dateFormat}}</td>
          <td><a href="" @click.prevent="del(item.id)">删除</a></td>
        </tr>
      </tbody>
    </table>
  </div>


  <script>
    //全局过滤器，进行时间格式化
    Vue.filter('dateFormat', function (dateStr) {
      var dt = new Date(dateStr)
      var year = dt.getFullYear()
      var m = (dt.getMonth() + 1).toString().padStart(2, '0')
      var d = dt.getDate().toString().padStart(2, '0')
      var hh = dt.getHours().toString().padStart(2, '0')
      var mm = dt.getMinutes().toString().padStart(2, '0')
      var ss = dt.getSeconds().toString().padStart(2, '0')

      // return y + '-' + m + '-' + d
      return `${year}-${m}-${d} ${hh}:${mm}:${ss}`

    })
    Vue.config.keyCodes.f1 = 112

    // 使用Vue.directive()自定义全局指令
    // 参数1：指令名称，在定义的时候，指令前面不需要加v-前缀，
    // 但是在调用的时候，必须在指令前加v-
    // 参数2：是一个对象，在这个对象身上，有一些指令相关的函数
    Vue.directive('focus', {
      // 在每个函数中，第一个参数，就是el,表示被绑定了指令的那个元素，是原生js对象
      bind: function (el) {
        //每当指令绑定到元素上的时候，会立即执行这个bind函数，只执行一次
        // 在元素刚绑定指令的时候，还没插入到DOM中去，这时候调用focus方法没有作用
        // 一个元素只有插入DOM之后，才能获取焦点
      },
      inserted: function (el) {
        // 表示元素插入到DOM中的时候，会执行，只执行一次
        el.focus()
      },
      updated() {
        // 当VNode更新的时候，会执行updated,可能会触发多次
      }
    })

    //自定义一个
    Vue.directive('color', {
      //样式只要通过指令绑定给了元素，
      //不管元素有没有被插入到页面中去，这个元素肯定有了一个内联的样式
      //和样式相关的可以写在bind中
      bind: function (el, binding) {
        el.style.color = binding.value
      },
      //和JS行为有关的最好在inserted中操作，
      inserted: function (el) {

      }
    })

    var vm = new Vue({
      el: "#root",
      data: {
        list: [
          { id: 1, name: '小a', ctime: new Date() },
          { id: 2, name: '小b', ctime: new Date() }
        ],
        id: '',
        name: '',
        keywords: ''
      },
      methods: {
        add() {
          this.list.push({ id: this.id, name: this.name, ctime: new Date() })
          this.id = ''
          this.name = ''
          this.ctime = ''
        },
        del(id) {
          //如何根据id删除这一项的索引

          //在数组的some方法中，如果return true,就会立即终止这个数组的循环
          // this.list.some((item, i) => {
          //   if (item.id == id) {
          //     this.list.splice(i, 1)
          //     return true
          //   }
          // })

          var index = this.list.findIndex(item => {
            if (item.id == id) {
              return true;
            }
          })
          this.list.splice(index, 1)
        },
        search(words) {
          var newList = []
          // this.list.forEach(item => {
          //   if (item.name.indexOf(words) != -1) {
          //     newList.push(item)
          //   }
          // })
          // return newList

          // forEach some filter findIndex 都是数组新方法
          return this.list.filter(item => {
            if (item.name.includes(words)) {
              return true
            }
          })
        }
      },
      filters: { //定义私有过滤器   过滤器名称/处理函数
        myFilter: function (msg, arg = '-++-') {
          return msg + arg
        }
      },
      directives: { //自定义私有指令
        'fontweight': {
          bind: function (el, binding) {
            el.style.fontWeight = binding.value
          }
        },
        'fontsize': function (el, binding) { //简写，等同于把代码写到bind和update中去
          el.style.fontSize = parseInt(binding.value) + 'px'
        }
      }
    })


  </script>
</body>

</html>