<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>

</head>
<body>

<div id="app">
    <p>{{message}}jsjsjs</p>
    <p>v-model:<input type="text" v-model="message"/></p>
    <p>v-model.lazy:<input type="text" v-model.lazy="message"/></p>
    <p>v-model.number:<input type="text" v-model.number="message"/></p>
    <p>v-model.trim:<input type="text" v-model.trim="message"/></p>
    <!--.lazy 鼠标离开焦点时变化
    .number 必须是数字
    .trim 去空格
    -->
    <hr/>
    <h3>文本域</h3>
    <textarea cols="30" rows="10" v-model="message"></textarea>
    <hr/>
    <h3>多选框绑定一个值 显示true或者false</h3>
    <input type="checkbox" id="isTrue" v-model="isTrue">
    <label for="isTrue">{{isTrue}}</label>
    <h3>多选框绑定数组, 显示value</h3>
    <p>
        <input type="checkbox" id="jspang" value="aaa" v-model="web_names">
        <label for="jspang">aaa</label>
        <input type="checkbox" id="panda" value="bbb"  v-model="web_names">
        <label for="panda">bbb</label>
    </p>
    <p>{{web_names}}</p>

    <h3>单选框绑定</h3>
    <p>
        <input type="radio" id="one" v-model="sex" value="男"/>
        <label for="one">男</label>
        <input type="radio" id="two" v-model="sex" value="女"/>
        <label for="two">女</label>
    <p>你选择的性别是：{{sex}}</p>
    </p>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'hello world',
            isTrue:true,
            web_names:[],
            sex:'男'
        }
    })


</script>
</body>
</html>